<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>New Flower </h1>
    <form action="/flowers" method="POST">
        <label>Name:
            <input type="text" name="name">
        </label>
        <br>
        <label>Description:
            <input type="text" name="description">
        </label>
        <br>
        <label>Image:
            <input type="text" name="image">
        </label>
        <br>
        <label>Care:
            <input type="text" name="care">
        </label>
        <br>
        <label>Price:
            <input type="text" name="price">
        </label>
        <br>
        <label>Quantity:
            <input type="text" name="qty">
        </label>
        <br>
        <input type="submit" value="Add New Flower">
    </form>

    <a href="/flowers">Cancel</a>

</body>
</html>