<header>
    <h1>
            Pot of Flowers
    </h1>
    <nav>
        <ul>
            
                <li>
                    <a href="/flowers">Go to Flowers</a>
                </li>
            
        </ul>
    </nav>
</header>